.js-hidden,
.js-invisible {
    visibility: hidden !important
}

.js-clearfix:after,
.js-clearfix:before {
    display: table;
    content: "";
    line-height: 0
}

.js-clearfix:after {
    clear: both
}

.js-responsive-frame {
    width: 100%
}

@media (min-width:960px) {

    .js-hidden-large,
    .js-visible-medium,
    .js-visible-small {
        display: none !important
    }
}

@media (min-width:768px) and (max-width:959px) {

    .js-hidden-medium,
    .js-visible-large,
    .js-visible-small {
        display: none !important
    }
}

@media (max-width:767px) {

    .js-hidden-small,
    .js-visible-large,
    .js-visible-medium {
        display: none !important
    }
}

.js-hidden {
    display: none !important
}

.js-visible-hover:hover .js-hidden,
.js-visible-hover:hover .js-invisible {
    display: block !important;
    visibility: visible !important
}

.js-visible-hover-inline:hover .js-hidden,
.js-visible-hover-inline:hover .js-invisible {
    display: inline-block !important;
    visibility: visible !important
}